.line-top{
	width: 100%;
    background: #2c3e50;
    color: #fff;
    font-size: 12px;
    margin-bottom: 40px;
	height: 50px;
}
.line-top-inner{
	margin: auto;
    max-width: 80%;
    padding: 4px 0;
}
.logo {
    float: left;
    width: 125px;
    height: 38px;
}

.stat a {
    color: #fff;
    position: relative;
    text-decoration: none;
    border: 0;
    line-height: 40px;
    float: left;
    padding: 0 30px;
    font-size: 16px;
}
#block {
    font-weight: bold;
    font-size: 16px;
    background-color: #BBFFDF;
    width: 640px;
    padding: 10px 20px 25px 20px;
    margin-top: 20px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.19);
}
.ac_results {
	padding: 0px;
	border: 1px solid WindowFrame;
	background-color: Window;
    overflow: hidden;
    position: relative;
    z-index: 888888;
}

.ac_results ul {
	width: 100%;
    list-style-position: outside;
	list-style: none;
	padding: 0;
    position: relative;
    margin: 0;
    z-index: 99999;
}

.ac_results iframe {
	display:none;/*sorry for IE5*/
	display/**/:block;/*sorry for IE5*/
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
	filter:mask();
	width:3000px;
	height:3000px;
}

.ac_results li {
	position:relative;
    margin: 0px;
	padding: 2px 5px;
	cursor: pointer;
	display: block;
	width: 100%;
	font: menu;
	font-size: 12px;
	overflow: hidden;
}

.ac_loading {
	background : Window url('/i/progress.gif') right center no-repeat;
}

.ac_over {
	background-color: Highlight;
	color: HighlightText;
}